{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block title %}Add {{ media_type == 'tv' and 'TV Show' or media_type | capitalize }}{% endblock %}

{% block content %}
<div class="content add">
  <h1 class="heading">Add a {{ media_type == 'tv' and 'TV Show' or media_type | capitalize }}</h1>
  <h4 class="description">Enter the details below</h4>
</div>
<div class="row justify-content-center">
  <div class="col-md-4"> <!-- Reduced width -->
    <div class="form-container add-form">
      {{ render_form(form, novalidate=True) }}
    </div>
  </div>
</div>
{% endblock %}