{% extends 'base.html' %}

{% block title %}My Top Favourite Movies{% endblock %}

{% block content %}
<div class="container item-page movies">
  <h1 class="heading">My Top Favourite Movies</h1>
  <h4 class="description">These are my all-time favourite movies.</h4>

  {% for movie in movies %}
  <div class="card">
    <div class="front" style="background-image: url('{{ movie.img_url }}');">
        <p class="large">{{ movie.ranking }}</p>
    </div>
    <div class="back">
      <div>
        <div class="title">{{ movie.title }} <span class="release_date">({{ movie.year }})</span></div>
        <div class="rating">
          <span class="badge text-bg-dark rounded-pill p-2">
            <label class="rating-text">{{ movie.rating }}</label>
            <i class="fas fa-star star"></i>
          </span>
        </div>
        <p class="review">"{{ movie.review }}"</p>
        <p class="overview">
          {{ movie.description }}
        </p>
        <a href="{{ url_for('rate_media', type='movie', id=movie.id) }}" class="btn btn-primary rounded-pill">Update</a>
        <a href="{{ url_for('delete_media', type='movie', id=movie.id) }}" class="btn btn-outline-danger rounded-pill">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
  
  <div class="text-center mt-4">
    <a href="{{ url_for('add_media', type='movie') }}" class="btn btn-success rounded-pill">Add Movie</a>
  </div>
</div>

{% endblock %}