{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hi, I'm Shanel Perera, a passionate software developer, graphic designer, and tech enthusiast.
          I love exploring the intersection of technology, creativity, and innovation, whether it's through coding,
          designing, or working on exciting projects.
        </p>
        <p>
          Currently, I'm diving deep into web development, Python programming, and animation,
          while also working on various freelance projects. My journey has led me to build software solutions,
          design eye-catching visuals, and even develop smart tech for real-world problems.
        </p>
        <p>
          Through this blog, I share my experiences, projects, and insights on software development,
          graphic design, freelancing, and tech innovations. Whether you're here for inspiration, knowledge,
          or collaboration, I'm excited to have you on this journey.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
